.header {
  width: 100vw;
  height: 60px;
  background: linear-gradient(90deg, #072f4a 12%, #0a719c 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px; }
  .header .title {
    color: #b3ebe8; }
  .header .action button {
    border-radius: 3px;
    border: 1px solid blue;
    cursor: pointer;
    font-weight: bold;
    background-color: #ec9b04; }
  .header .action button:hover {
    background-color: rgba(19, 165, 158, 0.568);
    color: white; }

.content {
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex; }
  .content .create-task {
    padding: 10px;
    height: 100%;
    width: 35%;
    background-color: lightblue; }
    .content .create-task form {
      width: 80%;
      margin: 20px auto; }
      .content .create-task form #create-btn {
        margin-top: 20px;
        border-radius: 3px;
        background-color: lightgoldenrodyellow;
        font-weight: bold;
        cursor: pointer; }
      .content .create-task form #create-btn:hover {
        background-color: lightgreen;
        color: white; }
  .content .list-task {
    height: 100%;
    width: 35%;
    padding: 10px;
    background-color: #ade6be; }
  .content .summary {
    height: 100%;
    width: 30%;
    padding: 10px;
    background-color: #adbfe6; }

.footer {
  width: 100vw;
  height: 60px;
  background: linear-gradient(90deg, #072f4a 12%, #0a719c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  .footer div h4 {
    margin: 0px; }
